body {
  font-family: "Segoe UI", sans-serif;
  background-color: #f8f9fa;
  margin: 0;
  padding: 0;
}

form, table {
  background: white;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  padding: 20px;
  margin-bottom: 20px;
}

input, button {
  margin: 5px;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button {
  margin: 5px;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
  cursor: pointer;
  background-color: #4c00ff;
  color: white;
}

button:hover {
  background-color: #0056b3;
}

nav a {
  display: flex;
  margin-top: 5px;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

nav a:hover {
  color: purple;
}

h1, h2{
  text-align: center;
}
form {
  margin: 0 5%;
  justify-content: center;
  align-items: center;
}

div {
  margin: 0 5%;
  justify-content: center;
  align-items: center;
}